.myBody {
  margin-top: 5px;
  align-items: center;
  background: transparent;
  display: flex;
  justify-content: center;
}

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  
.slider {
  display: flex;

  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative;
}
  
.slider::before,
.slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: auto;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  
.slider::before {
    left: 0;
    top: 0;
  }
  
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  align-items: center;
  width: calc(250px * 14);
}
  
.slider .slide {
    height: auto;
    width: 250px;
  }